.input-container-w-100 {
  width: 100%;
}

.input-container-w-70 {
  width: 69%;
}

.input-container-w-50 {
  width: 49%;
}

.input-container-w-33 {
  width: 32%;
}

.input-container-w-30 {
  width: 29%;
}

.edit-profile-page-left-side {
  width: 20%;
}

.edit-profile-page-right-side {
  width: 80%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .edit-profile-page-body {
    flex-wrap: wrap;
  }

  .edit-profile-page-left-side {
    width: 100%;
  }

  .edit-profile-page-right-side {
    padding-left: 0px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
}

@media (max-width: 991.98px) {
  .edit-profile-page-right-side {
    width: 90%;
  }
}

@media (max-width: 767.98px) {

  .input-container-w-100,
  .input-container-w-70,
  .input-container-w-50,
  .input-container-w-33,
  .input-container-w-30 {
    width: 85%;
  }

  .edit-profile-page-right-side {
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 575.98px) {
  .input-sm-w-100 {
    width: 85% !important;
    margin: auto;
  }
}