.capability-element {
  width: 100%;
  margin-top: 20px;

  padding: 8px 16px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 0px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Context */

.capability-element-content span {
  color: #171717;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

/* Buttons */

.capability-element-delete-button {
  background-color: #fc6d6d;
  border: none;
  border-radius: 50%;
  padding: 4px 8px;
}

.capability-element-delete-button-icon {
  color: white;
  font-size: 14px;
}
