.capability-form {
  margin-bottom: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.capability-form form {
  width: 100%;
}

.capability-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.capability-input-container label {
  color: #928282;
  font-size: 16px;
  font-weight: 500;
}

.capability-input-container input,
.capability-input-container select {
  border: 2px solid #b3a6c0;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 400;
}

/* Save Button */
.capability-save-button {
  min-width: 150px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #9933ff;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.5s ease;
  opacity: 0.9;
}

.capability-save-button:hover {
  transform: scale(1.025);
  opacity: 1;
}

@media (max-width: 767.98px) {
  .capability-form {
    align-items: center;
  }

  .capability-input-container {
    width: 100%;
  }

  .capability-save-button {
    min-width: 295px;
  }
}