.nav-card-element {
  width: 240px;
  height: 256px;
  margin: 16px 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-card-element:nth-child(1) {
  background: rgb(29, 11, 140);
  background: linear-gradient(
    45deg,
    rgba(29, 11, 140, 1) 0%,
    rgba(180, 158, 247, 1) 100%
  );
}

.nav-card-element:nth-child(2) {
  background: rgb(14, 11, 147);
  background: linear-gradient(
    45deg,
    rgba(14, 11, 147, 1) 0%,
    rgba(91, 175, 200, 1) 100%
  );
}

.nav-card-element:nth-child(3) {
  background: rgb(61, 11, 140);
  background: linear-gradient(
    45deg,
    rgba(61, 11, 140, 1) 0%,
    rgba(219, 159, 248, 1) 100%
  );
}

.nav-card-element-body {
}

.nav-card-element-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: white;

  display: flex;
  text-align: center;
}

.nav-card-element-footer {
  transition: all 0.5s ease;
}

.nav-card-element-footer-link {
  text-decoration: none;
  padding: 6px 77px;
  border-radius: 20px;
  background-color: #9933ff;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.nav-card-element-footer-link:hover {
  background-color: #822bd9;
}

.nav-card-element-footer:hover {
  transform: scale(1.03);
}

@media (max-width: 992px) {
  .nav-card-element {
    width: 70% !important;
  }
}

@media (max-width: 767.98px) {
  .nav-card-element {
    width: 100% !important;
  }
}
