.announcement-element {
  min-width: 340px !important;
  min-height: 135px !important;
  margin: 20px 5px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 0px 16px;
  border-left: 0.4rem solid #00956e;
}

.announcement-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.announcement-header span {
  color: #00956e;
  font-size: 11px;
}

.announcement-content {
  margin-top: 10px;
}

.announcement-content .announcement-title {
  color: #767676;
  font-size: 14px;
  font-weight: 900;
}

.announcement-footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.announcement-footer-left-side {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #9397a0;
}

.announcement-footer-left-side .calendar-color {
  font-size: 14px;
}

.announcement-footer-left-side span {
  margin-left: 8px;
}

.announcement-footer-right-side {
}

.announcement-footer-right-side button {
  border: none;
  background: none;
  color: #9397a0;
  font-size: 12px;
}

.announcement-footer-right-side button:hover {
  color: #797b80;
}

@media (max-width: 1150px) {
  .announcement-element {
    width: 60% !important;
  }
}

@media (max-width: 767.98px) {
  .announcement-element {
    width: 80% !important;
  }
}
