.learning-path-component {
  display: flex;
  justify-content: flex-start;
  margin-top: 34px !important;
}

.learning-path-element {
  width: 250px !important;
  height: 320px !important;
  margin: 20px 8px 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.058) 0px 3px 20px, rgba(0, 0, 0, 0.231) 0px 0px 25px;
  background-color: #fdfdfd;
  padding: 2px;
}

.learning-path-cover-photo {}

.learning-path-cover-photo .learning-path-img {
  height: 181px;
  width: 100%;
  object-fit: cover !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.learning-path-body {
  padding: 12px;
}

.learning-path-body .learning-path-title {
  color: #515151;
  font-size: 14px;
  font-weight: 600;
}

.learning-path-body .learning-path-publish-datetime {
  color: #787878;
  font-size: 12px;
}

.learning-path-footer {
  display: flex;
  justify-content: center;
}

.learning-path-footer .learning-path-button {
  width: 220px;
  height: 37px;
  border: none;
  border-radius: 28px;
  background-color: #d9d9d9;
  color: #282828;
  font-size: 14px;
}

.show-more-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px !important;
}

.show-more-icon {
  font-size: 34px !important;
  color: dimgray;
}

.show-more-text {
  font-size: 14px;
  color: dimgray;
}

@media (max-width: 1300px) {
  .learning-path-component {
    justify-content: center;
    flex-wrap: wrap;
  }
}