.learning-path-component {
  display: flex;
  justify-content: space-around;
  margin-top: 34px !important;
}

.learning-path-element {
  margin-top: 20px;
  padding: 8px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 0px 16px;
}

.learning-path-header {
}

.learning-path-header .learning-path-img {
  height: 300px;
  width: 100%;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.learning-path-body {
  margin-top: 20px;
}

.learning-path-body .learning-path-title {
  font-size: 20px;
  font-weight: 500;
}

.learning-path-body .learning-path-datetime {
  margin-top: 20px;
}

.learning-path-datetime .learning-path-publish-date {
  color: gray;
}

.learning-path-datetime .learning-path-publish-time {
  margin-left: 5px;
  color: gray;
}

.learning-path-footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
}

.learning-path-footer .learning-path-button {
  border: none;
  border-radius: 25px;
  background-color: #d9d9d9;
  color: #282828;
  padding: 8px;
  width: 95%;
}
