.delete-profile-photo-modal-header,
.delete-profile-photo-modal-body {
  border: none !important;
  padding: 10px 16px !important;
}

.delete-profile-photo-modal-header {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.delete-profile-photo-modal-body-content {
  text-align: left;
}

.delete-profile-photo-modal-footer {
  background-color: #e0dddd !important;
  margin-top: 20px;
  justify-content: space-between;
  padding: 16px 16px !important;
  border: none !important;
}

.delete-profile-photo-modal-footer button {
  width: 47%;
  background-color: white;
  border: none;
  color: #828282;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0px;
  transition: all 0.5s ease;
}

.delete-profile-photo-modal-footer button:hover {
  transform: scale(1.025);
  opacity: 1;
  background-color: #9933ff;
}

.delete-profile-photo-modal-footer button i {
  font-size: 20px;
  margin: 0px 5px;
}
