.user-information-card {
  border-radius: 16px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 100%;
  margin-bottom: 20px;
}

.user-information-header {
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 144px;

  background: linear-gradient(-90deg, #2a54fd, #00b3b0, #898ef6, #6525c4);
  background-size: 500% 100%;
  animation: gradient 16s ease infinite;


}

@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }

  50% {
    background-position: 100% 75%;
  }

  100% {
    background-position: 0% 75%;
  }
}

.user-information-body {
  margin: 12px 0px;
}

.user-information-img {
  height: 128px;
  width: 128px;
}