.recourse-element {
    width: 500px !important;
    min-height: 130px !important;
    margin: 20px 16px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 0px 16px;
    border-left: 0.4rem solid green;
}

.recourse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recourse-header-left-side {
    font-size: 14px;
    font-weight: 600;
}

.recourse-step {
    background-color: #076b34;
    color: whitesmoke;
    font-size: 13px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-right: -16px;
}

.recourse-detail-step-icon .bi-check-lg {
    color: green;
    margin-right: 5px;
}

.recourse-detail-step-icon .bi-check-lg:hover {
    color: orange;
}

.recourse-detail-step-description {
    font-size: 13px;
}

@media (max-width: 992px) {
    .recourse-element {
        width: 70% !important;
    }
}

@media (max-width: 767.98px) {
    .recourse-element {
        width: 85% !important;
    }
}