.recourse-component {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    /* -> default */
    margin-top: 34px !important;
}

@media (max-width: 992px) {
    .recourse-component {
        justify-content: center;
        flex-wrap: wrap;
    }
}