.profile-page-header {
  width: 100%;
  padding: 10px 25px;
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

.profile-page-body {
  display: flex;
  margin-top: -10px;
}

.profile-page-left-col {
  padding: 15px 10px;
  width: 35%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-page-right-col {
  padding: 15px 10px;
  width: 65%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1200px) {
  .profile-page-body {
    flex-wrap: wrap;
  }

  .profile-page-left-col {
    width: 40%;
  }

  .profile-page-right-col {
    width: 60%;
  }
}

@media (max-width: 991.98px) {
  .profile-page-header {
    width: 100%;
  }

  .profile-page-body {
    justify-content: center;
  }

  .profile-page-left-col {
    width: 100%;
  }

  .profile-page-right-col {
    width: 100%;
  }
}