.foreing-languages-element {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 4px 16px;
  width: 100%;
  margin-bottom: 12px;
}

.foreing-languages-element-icon {
  font-size: 25px;
  color: #828282;
  margin-right: 10px;
}

.foreing-languages-element-language-name {
  font-size: 16px;
  color: #828282;
}

.foreing-languages-element-language-level {
  font-size: 12px;
  color: #828282;
}
