.learning-path-element {
  width: 250px !important;
  height: 320px !important;
  margin: 20px 8px 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.058) 0px 3px 20px,
    rgba(0, 0, 0, 0.231) 0px 0px 25px;
  background-color: #fdfdfd;
  padding: 2px;
  transition: all 0.25s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.learning-path-element:hover {
  transform: scale(1.025);
  border-radius: 23px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.learning-path-cover-photo {
}

.learning-path-cover-photo .learning-path-img {
  height: 181px;
  width: 100%;
  object-fit: cover !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.learning-path-body {
  padding: 12px;
}

.learning-path-body .learning-path-title {
  color: #515151;
  font-size: 14px;
  font-weight: 600;
}

.learning-path-body .learning-path-publish-datetime {
  color: #787878;
  font-size: 12px;
}

.learning-path-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.learning-path-footer .learning-path-button {
  width: 220px;
  height: 37px;
  border: none;
  border-radius: 28px;
  background-color: #d9d9d9;
  color: #282828;
  font-size: 14px;
  transition: 0.5s;
}

.learning-path-footer .learning-path-button:hover {
  color: white;
  background-color: #9933ff;
}
