.learning-path-component {
  display: flex;
  justify-content: flex-start;
  margin-top: 34px !important;
}

@media (max-width: 1300px) {
  .learning-path-component {
    justify-content: center;
    flex-wrap: wrap;
  }
}
