.personal-information {
  display: flex;
  flex-direction: column;
}

.personal-information textarea {
  height: 100px;
}

.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-photo-edit {
  background-image: url("../../../../public/assets/images/default-profile-photo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: end;
  justify-content: space-around;
}

.profile-photo-delete-button {
  background-color: #fc6d6d;
  border: 1px solid white;
  border-radius: 50%;
  padding: 4px 8px;
}

.profile-photo-delete-button-icon {
  color: white;
  font-size: 14px;
}

.profile-photo-edit-button {
  background-color: white;
  border: 1px solid #9933ff;
  border-radius: 50%;
  padding: 4px 8px;
}

.profile-photo-edit-button-icon {
  color: #9933ff;
  font-size: 14px;
}

/* inputs */

.personal-information-input-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.personal-information-input-section .user-address-section {
  justify-content: space-between;
}

.personal-information-input-section div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.personal-information-input-section label {
  color: #928282;
  font-size: 16px;
  font-weight: 500;
}

.personal-information-input-section input,
.user-address-section select,
.user-address-section textarea {
  border: 2px solid #b3a6c0;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 400;
}

/* Adress inputs */

.user-address-section {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Save Button*/

.personal-information-save-button {
  width: 150px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #9933ff;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.5s ease;
  opacity: 0.9;
}

.personal-information-save-button:hover {
  transform: scale(1.025);
  opacity: 1;
}

@media (max-width: 767.98px) {
  .personal-information {
    align-items: center;
  }

  .personal-information-input-section {
    justify-content: center;
  }

  .personal-information-input-section .user-address-section {
    justify-content: center;
  }

  .personal-information .personal-information-save-button {
    width: 85%;
    padding: 10px 16px;
  }
}