.show-more-button-link {
    text-decoration: none;
    pointer-events: none;
}

.show-more-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px !important;
}

.show-more-block>div {
    pointer-events: all;
}

.show-more-icon {
    font-size: 34px !important;
    color: dimgray;
}

.show-more-text {
    font-size: 14px;
    color: dimgray;
}