.learning-path-details {
  margin-top: -40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.126) 0px 3px 10px,
    rgba(0, 0, 0, 0.157) 0px 0px 16px;
  padding: 15px;

  display: flex;
  flex-direction: column;
}

/* -------------------------------------- */
