.learning-path-content-tab {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.learning-path-content-tab-left-col {
  width: 38%;
}

.learning-path-content-tab-right-col {
  width: 60%;
}

@media (max-width: 1199.98px) {
  .learning-path-content-tab {
    display: flex;
    flex-direction: column;
  }

  .learning-path-content-tab-right-col {
    order: 1;
    margin-bottom: 20px;
  }

  .learning-path-content-tab-left-col {
    order: 2;
  }

  .learning-path-content-tab-left-col,
  .learning-path-content-tab-right-col {
    width: 100%;
  }
}