.exams-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.exams-page .exam-element {
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1200px) {
    .exams-page .exam-element {
        width: 55% !important;
    }
}

@media (max-width: 767.98px) {
    .exams-page .exam-element {
        width: 85% !important;
    }
}

@media (max-width: 575.98px) {
    .exams-page .exam-element {
        width: 100% !important;
    }
}