.account-settings-password-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.account-settings-previous-password-container label,
.account-settings-new-password-container label,
.account-settings-new-password-repeat-container label {
  color: #928282;
  font-size: 16px;
  font-weight: 500;
}

.account-settings-previous-password-container input,
.account-settings-new-password-container input,
.account-settings-new-password-repeat-container input {
  width: 100%;
  border: 2px solid #b3a6c0;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 400;
}

/* Buttons */

.account-settings-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-settings-buttons button {
  width: 48%;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.5s ease;
  opacity: 0.9;
}

.account-settings-buttons button:hover {
  transform: scale(1.025);
  opacity: 1;
}

.account-settings-change-password-button {
  background-color: #9933ff;
}

.account-settings-terminate-membership-button {
  background-color: rgb(253, 51, 0);
}