.fc-dayGridMonth-button {
    background-color: #721ec0 !important;
}

.fc-timeGridWeek-button {
    background-color: #9c33ff !important;
}

.fc-timeGridDay-button {
    background-color: #c590f7 !important;
}

.fc .fc-button-primary {
    border: white;
}

.fc-toolbar-title {
    color: #9c33ff !important;
}

.fc-today-button {
    background-color: #9c33ff !important;
}

.fc-col-header-cell-cushion {
    color: #9c33ff
}

.fc-daygrid-day-number {
    color: #aa83ce
}

.fc-event {
    background-color: #8e4eca;
    color: white
}

.fc-day-today {
    background-color: #ecabec76 !important;
}

.fc-highlight {
    background-color: #ecabec76 !important;
}

.fc-prev-button,
.fc-next-button {
    background-color: #9c33ff !important;

}

@media (max-width: 624px) {

    .fc-prev-button,
    .fc-next-button {

        width: 80% !important;
    }
}

/*
 .fc-dayGridMonth-button,
    .fc-timeGridWeek-button,
    .fc-timeGridDay-button,
    .fc-toolbar-title,
    .fc-today-button,
    .fc-col-header-cell-cushion,
    .fc-daygrid-day-number,
    .fc-event,
    .fc-day-today,
    .fc-highlight,
    .fc-prev-button,
    .fc-next-button
*/