.foreign-language {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.foreign-language-input-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.foreign-language-input-section select {
  width: 100%;
  border: 2px solid #b3a6c0;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 400;
}

.foreign-language-name-input-container,
.foreign-language-level-input-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .foreign-language-level-input-container {
  justify-content: flex-end;
} */

/* Save Button*/
.foreign-language-save-button {
  min-width: 150px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #9933ff;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.5s ease;
  opacity: 0.9;
}

.foreign-language-save-button:hover {
  transform: scale(1.025);
  opacity: 1;
}

@media (max-width: 767.98px) {
  .foreign-language {
    align-items: center;
  }

  .foreign-language .foreign-language-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foreign-language-name-input-container,
  .foreign-language-level-input-container {
    width: 100%;
  }

  .foreign-language-input-section {
    justify-content: center;
  }

  .foreign-language-save-button {
    min-width: 255px;
  }
}