.survey-element {
  cursor: pointer;
  width: 500px !important;
  min-height: 100px !important;
  padding: 12px;
  margin: 16px 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.126) 0px 3px 10px,
    rgba(0, 0, 0, 0.157) 0px 0px 16px;
  transition: all 0.5s ease;
}

.survey-element:hover {
  transform: scale(1.015);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.survey-element-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.survey-element-header-left-side {}

.survey-element-header-right-side {}

.survey-element-header-right-side i {
  font-size: 22px;
}

.survey-element-header-right-side .bi-hourglass-split {
  color: royalblue;
}

.survey-element-header-right-side .bi-check-circle-fill {
  color: green;
}

.survey-element-title {
  color: #1c1917;
  font-size: 16px;
  font-weight: 900 !important;
  letter-spacing: 0.16px;
}

.image-survey-status {
  height: 25px;
  border-radius: 8px;
}

.survey-element-content {}

.survey-element-organization {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

.survey-element-footer {
  margin-top: 10px;
}

.survey-element-footer-link {
  font-weight: 600;
  font-size: 14px;
  color: #5b5b5b;
  letter-spacing: 0px;
}

@media (max-width: 1200px) {
  .survey-element {
    width: 65% !important;
  }
}

@media (max-width: 767.98px) {
  .survey-element {
    width: 85% !important;
  }
}