.experience-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.experience-form textarea {
  height: 100px;
}

.experience-input-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.experience-input-section div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.experience-input-section div:nth-last-child(-n+2) {
  margin-bottom: 0px !important;
}

.experience-input-section label {
  color: #928282;
  font-size: 16px;
  font-weight: 500;
}

.experience-input-section input,
.experience-input-section select,
.experience-input-section textarea {
  border: 2px solid #b3a6c0;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 400;
}

.job-continue-checkbox {
  display: flex !important;
  flex-direction: row !important;
  margin: 5px 0px;
}

.job-continue-checkbox label {
  margin-left: 5px;
}

.job-detail-input,
.job-detail-input textarea {
  height: 150px;
}

/* Save Button*/

.experience-save-button {
  min-width: 150px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #9933ff;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.5s ease;
  opacity: 0.9;
  margin-top: 15px;
}

.experience-save-button:hover {
  transform: scale(1.025);
  opacity: 1;
}

@media (max-width: 767.98px) {
  .experience-form {
    align-items: center;
    margin-bottom: 30px;
  }

  .experience-input-section {
    justify-content: center;
  }

  .experience-input-section div:nth-last-child(-n+2) {
    margin-bottom: 15px !important;
  }

  .experience-save-button {
    width: 85%;
    padding: 10px 16px;
    margin: 16px auto;
  }
}