.education-information {
  display: block;
  align-items: center;
  justify-content: center;
}

.education-input-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.education-input-section div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.education-input-section label {
  color: #928282;
  font-size: 16px;
  font-weight: 500;
}

.education-input-section input,
.education-input-section select,
.education-input-section textarea {
  border: 2px solid #b3a6c0;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 400;
}

.education-program-continue-input-container {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  margin: 5px 0px;
}

.education-program-continue-input-container label {
  margin-left: 5px;
}

/* Save Button*/

.education-save-button {
  min-width: 150px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #9933ff;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.5s ease;
  opacity: 0.9;
}

.education-save-button:hover {
  transform: scale(1.025);
  opacity: 1;
}