.education-and-experience-list {
  height: 300px;
  overflow-x: auto;
}

/* height */
.education-and-experience-list::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.education-and-experience-list::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.education-and-experience-list::-webkit-scrollbar-thumb {
  background: #ededed;
}

/* Handle on hover */
.education-and-experience-list::-webkit-scrollbar-thumb:hover {
  background: #7b7979;
}

.education-and-experience-line {
  height: 7px;
  width: fit-content;
  min-width: 100%;
  background: #ccc;
  border-radius: 5px;

  gap: 250px;
  position: relative;
  top: 50%;
  display: flex;
}
