@media (max-width: 1199.98px) {
    .link-list {
        display: flex;
        overflow-x: scroll;
    }

    /* Height */
    ::-webkit-scrollbar {
        height: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #d2d2d2;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #828282;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #111;
    }

    .link-element {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link-element-title {
        display: none;
    }
}