@media (max-width: 1199.98px) {
  .link-list {
    display: flex;
    overflow-x: scroll;
  }

  /* Height */
  .link-list::-webkit-scrollbar {
    height: 3px;
  }

  /* Track */
  .link-list::-webkit-scrollbar-track {
    background: #d2d2d2;
  }

  /* Handle */
  .link-list::-webkit-scrollbar-thumb {
    background: #828282;
  }

  /* Handle on hover */
  .link-list::-webkit-scrollbar-thumb:hover {
    background: #111;
  }

  .link-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-element-title {
    display: none;
  }
}
