.exam-component {
  border-radius: 16px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  margin-top: -36px;
  padding: 20px 36px;
}

.exam-component-header {
  margin-bottom: 12px;
}

.exam-component-header-title {
  color: #1c1917;
  font-size: 16px;
  font-weight: 900 !important;
  letter-spacing: 0.5px;
}

.exam-component-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {

  .exam-component-header {
    display: flex;
    justify-content: center;
  }

  .exam-component-body {
    justify-content: center;
  }

  .exam-element {
    width: 65% !important;
  }
}

@media (max-width: 767.98px) {
  .exam-element {
    width: 85% !important;
  }
}