.announcement-component {
  display: flex;
  justify-content: space-between;
  margin-top: 34px !important;
}

@media (max-width: 1150px) {
  .announcement-component {
    justify-content: center;
    flex-wrap: wrap;
  }
}
